<!DOCTYPE html>
<html>
    <body>
        <h1 style="color: #5e9ca0;">New user creation</h1>
        <h2 style="color: #2e6c80;">Please enter your info:</h2>
        <form action="http://127.0.0.1:5000/form_acc" method="post">
            <label for="full_name">Name:</label><br />
            <input id="full_name" name="full_name" type="text" value="" /><br />
            <label for="password">Password:</label><br />
            <input id="password" name="password" type="text" value="" /><br />
            <label for="real_id">ID:</label><br />
            <input id="real_id" name="real_id" type="text" value="" /><br /><br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>


